# Dados do dataset (muito grandes para git)
dados/treino/
dados/validacao/
dados/teste/
*.zip

# dados do dataset
data/

# Pesos do modelo
pesos/*.pt
*.pt

# Pastas de dados dentro de uvv (usar dados/ como pasta principal)
uvv/treino/
uvv/validacao/
uvv/teste/
uvv/datasets/

# Resultados de treino/validacao/deteccao
runs/
uvv/yolov9-main/runs/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Ambiente virtual
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
.kiro


# OS
.DS_Store
Thumbs.db
desktop.ini

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Cache
*.cache


# docs

/docs